*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}

#header{
    background-color: #663399;
    padding-bottom: 14px;
}

#header>h1{
    max-width: 800px;
    color: #fff;
    font-size: 40px;
    margin: 0px auto;
    padding: 24px;
    position: relative;

}

#content{
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
}


#content>h2{
    font-size: 28px;
}


img{
    border-radius: 7px 7px 0 0;
    margin-bottom: 0px;
    max-width: 100%;
    height: auto;
}

.container{
    padding: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    padding: 20px;
}

.description{
    line-height: 2;
}

.description>h3{
    font-size: 20px;
    color:#663399;
    margin-bottom: 7px;
}

p{
    font-size: 16px;
    color: #757575;
    line-height: 1.5;
    margin-bottom: 18.4px;
}

a.button{
    color: #fff;
    background-color: #663399;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
}

hr{
    border: 1px solid #663399;
    padding: 0px;
}

#footer{
    padding: 24px;
    max-width: 800px;
    margin: 0px auto;
}

#footer>p{
    color: black;
}
